<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p><a href="https://railstutorial.jp/help">Railsチュートリアルのヘルプセクション</a>で
        Ruby on Railsチュートリアルのヘルプを入手してください 。
        このサンプルアプリのヘルプを取得するには
        <a href="https://railstutorial.jp/#ebook">
        <em>Ruby on Railsチュートリアル</em>ブック</a>を参照してください 。
    </p>