<h1>Sample App</h1>

<p><%= t('user_mailer.hi', user_name: @user.name) %></p>

<p>
<%= t('user_mailer.welcome_message') %>
</p>

<%= link_to t('.activate'), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>