<!--current_user（ログイン中のユーザー）と結び付けた新しいRelationshipオブジェクトを返すフォーム-->
<%= form_for(current_user.active_relationships.build) do |f| %>
  <!--followed_idに@user.idを渡す-->
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit t('.follow_btn'), class: "btn btn-primary" %>
<% end %>